* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "optimaroman", "Times New Roman", Times, serif; 
    font-size: 15.5px;
    line-height: 18px;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
    padding: 20px 30px;
}

h1,h2,h3 {
    font-weight: normal;
}

p {
	margin-bottom: 1em;
}

img, video {
	width: 100%;
}

canvas {
    /* border: 5px solid red; */
}

a:link {    
    /*color: #FC0; */
    color: #D70;
    text-decoration: none; 
}

a:visited {
    /*color: #FC0; */
    color: #D70;
    text-decoration: none; 
}

a:hover {
    color: #000; 
    text-decoration: none; 
}
    
a:active { 
    color: #FFF; 
    text-decoration: none;  
}

a.reverse {
    color: #000;
}

a.reverse:hover {
    /*color: #FC0;*/
    color: #D70;
}

b {
    /* color: #D70; */
    font-weight: normal;
}

i {
    font-style: normal;
	font-family: "neo_eulermedium", Helvetica, Arial, sans-serif; 
}

header {
	position: relative;
	padding-right: 1em;
}

header.homepage {
	z-index: 10;
}

ul {
	list-style-type: none;
	padding-left: 0;
	margin: 0px;
}

ul > ul > ul{
    padding-left: 20px;
}

select, button, input {
    /* display: block; */
	font-family: "optimaroman", Helvetica, Arial, sans-serif; 
    font-size: 13px;
    line-height: 18px;
    padding: 5px 0px 1px 10px;
    margin-right: 10px;
    text-align: left;
}

select {
    width: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #D70;
    color: #D70;
    background-color: #FFF;
    background: url(/media/svg/v-9-k.svg) 96% / 6% no-repeat #FFF;
}

button, input {
    display: inline-block;
    width: 25%;
    border: 1px solid #D70;
    cursor: pointer;
    color: #D70;
    background-color: #FFF;
}

select:hover, button:hover {
    border: 1px solid #000;
    color: #000;
}

input {
    width: 50%;
}



/* ids */

#menu {
    position: fixed;
    z-index: 100;
    left: 30px;
    top: 100px;
    max-width: 22vw;
    max-height: calc( 100vh - 150px );
    overflow: auto;
	/*padding-bottom: 1em;*/
}

#main {
    /*margin-top: 90px;*/
    display: inline-block;
    width: calc(56vw - 120px);
    /*padding-bottom: 60px;*/
    padding-right: 50px;
    vertical-align: top;
}

#main:after
{
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

#main.home {
    width: auto;
    padding-left: 100px;
    padding-right: 100px;
}

#badge-container {
	position: fixed;
	right: 0px;
	width: 100%;
    padding: 10px;
}

#badge {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    position: fixed;
    top: 10px; 
    left: 50%; 
    width: 360px; 
    height: 141px; 
    transform: translate(-50%, 0);
    z-index: -1;
}

#badge-container.lower-right {
	bottom: 0px;
	width: initial;
}

#breadcrumbs {
	padding: 1em;
	padding-bottom: 0px;
}

.content-container {
    /*padding: 0 0 20px 23vw;*/
    /*width: 75%;*/
}

#columns {
    columns: 400px 6;
    column-gap: 44px;
    padding: 1em;
}

/* use margin instead of <br> */
#columns div {
    margin-bottom: 22px;
}

#body {
    margin-bottom: 1em;
}

#notes {
    border-top: 1px solid #000;
    margin-top: 33px;
    padding-top: 11px;
    padding-bottom: 33vw;
}

#notes div {
    margin-bottom: 0px;
}

#notes a::before {
    padding-right: 11px;
    content: "";
    display:inline-block;
    height:20px;
    width:20px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

#notes a[href$=".pdf"]::before {
    background-image: url('/media/svg/pdf-1-k.svg');
}

#notes a:not([href$=".pdf"])::before {
    background-image: url('/media/svg/arrow-up-right-1-k.svg');
}

#fullscreen {
	/* width: auto; */
	height: auto;
}

#fullscreen:-webkit-full-screen,
#f:-webkit-full-screen,
:-webkit-full-screen {
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    background-color: #000;
    filter: initial;
}

#fullscreen:-ms-fullscreen,
:-ms-fullscreen {
	width: auto;
	height: auto;
	margin: auto;
  	filter: initial;
}

#fullwindow {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    z-index: +1;
}

#fullwindow #x {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
}

#site-info > p {
    margin: 0;
}

#menu > ul span {
    /*color: #FC0;*/
    color: #D70;
}

#content-image {
    margin-bottom: -25px;
    text-align: center;
    background-color: #fff;
}

#content-text {
    margin-top: 96px;
}

#content-text > iframe {
    margin-top: 40px;
}

#content-text img {
    padding: 20px;
    filter: grayscale(100%);
}

#content-image img {
    filter: grayscale(100%);
}



/* classes */

.mono {
    font-family: sf-mono, monaco, courier, monospace;
    font-size: 15px;
}

.large {
    /* vw = viewport width % */
    /* height based on width */
	height: 80vh;
}

.small {
    /* vw = viewport width % */
    /* height based on width */
	width: 33vw;
	height: 33vw;
}

.half {
    display: inline-block;
    width: 49%;
}

.centre {
	position: relative;
    top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.v-centre {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.h-centre {
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.fullwindow {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100% !important;
    height: 100% !important;
	padding: initial;
    object-fit: contain;
    filter: initial !important;
    z-index: +1;
}

.make blockquote {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 11px;
    line-height: 16px;
}

.make blockquote:first-child { 
    margin-top: 0px;
}

.make #columns {
    columns: inherit;
    width: 800px;
    padding-right: 200px;
}

.make #about {
    margin-top: -22px;
    border-top: inherit;
    padding-bottom: 0px;
    page-break-after: always;
}

.make #notes {
    margin-top: 0px;
    padding-bottom: 0px;
    font-size: 11px;
    line-height: 16px;
    page-break-inside: avoid;
}

.make #notes a::before {
    content: none;
}
    
.pdf #columns {
    columns: 100px 6;
}

.pdf #notes {
    padding-bottom: 22px;
}

.optima {
	font-family: "optimaroman", Helvetica, Arial, sans-serif; 
    font-size: 15.5px;
    line-height: 18px;
}

.palatino {
    font-family: "palatinoroman", "Times New Roman", Times, serif; 
    font-size: 15.45px;
    line-height: 18px;
}

.euler {
	font-family: "neo_eulermedium", Helvetica, Arial, sans-serif; 
}

.captionContainer {
    width: 100%;
    text-align: center;
    padding: 5px 0 0 0;
}

.caption {
    font-size: 11px;
    line-height: 12px; 
    padding-bottom: 12px;
}

.caption.euler {
    margin-top: -5px;
}

.imageContainer {
    text-align: center;
    background-color:#FFF;
    padding: 20px;
    display: inline-block;
}

.current_sibling {
    display: none;
}

ul[depth="2"] .current_sibling {
    display: block;
}

.thumbsContainer {
    float: right;
}

.thumbsContainer img {
    filter: grayscale(100%);
}

.thumbsContainer.event .fullwindow {
    filter:none;
}

.thumbsContainer.zena {
    float: right;
    clear: right;
}

.thumbsContainer.event {
    float: left;
    clear: left;
}

.home {
    margin-top: 90px;
}

.home #content {
    padding-left: 1em;
    width: initial;
}

.isFullwindow #menu {
    display: none;
}

.time,
.social {
    display: inline-block;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
}

.time {
    left: 30px;
}

.social {
    right: 30px;
}

.social img {
    width: 15px;
}

.highlight, a.reverse.highlight
{
    /*color: #FC0; */
    color: #D70;
}

.paypalbutton
{
    /*background-color: #FC0;*/
    color: #D70 !important;
    display: inline-block;
    /*padding: 10px 20px 7px 20px;*/
    /*margin-left: 30px;*/
}
.paypalbutton:hover
{
    /*color: #000 !important;*/
    /*background-color: #DDD;*/
}
.list-container
{
    /*width: calc(78vw - 60px);*/
    /*padding-left: 30px;*/
    /*margin-left: 22vw;*/
}

.list-child {
    /*margin-bottom: 15px;*/
}

/*
.content-container.support .books-container {
    display: inline-block;
    width: 50%;
    padding: 10px;
}
*/

.list-child-link
{
    display: block;
}
.list-child-link > *
{
    display: inline-block;
    vertical-align: top;
}
img.list-child-link {
    width: 100%;
    padding: 20px;
    filter: grayscale(100%);
}
/*
.list-child-link > h1 {
    width: 49%;
}
*/
.list-child-link:hover > img {
    filter: none;
}
#layout-container {
    padding-left: calc(22vw + 30px);
    padding-bottom: 80px;
    /*display: flex;*/
}
.sub-children-container {
    display: inline-block;
    width: 22vw;
    vertical-align: top;
    /*margin-left: 25px;*/
    /*margin-top: 105px;*/
    position: absolute;
    top: 100px;
    right: 30px;
}
.sub-title
{
    /*position: fixed;
    top: 100px;
    color: #D70;*/
}
select
{
    outline-color: #D70;
}
select:focus
{
    /*outline: 0;*/
}

.sub, .events, .readings, .books {
    height: 10em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1em;
}

.seasons {
    height: auto;

}

.images {
}

.videos {
}

.videos iframe {
    /* based on #main width */
    width: calc(56vw - 120px - 50px);
    height: calc((56vw - 120px - 50px) * .5625);
    padding: 20px;
}

.continues {
    margin-bottom: 2em;
}

.wavy {
    display: block;
    color: transparent;
    text-align: center;
    text-decoration-color: #D70;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    overflow: hidden;
    margin-top: 18px;
    margin-bottom: 36px;
}

.wavy:after {
    content: '....................................';
}
    


/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {
}

/* vertical iPhone */
@media screen and (max-width: 500px) {
    #menu {
        position: static;
        margin-top: 120px;
        padding: 1em;
        max-width: initial;
        max-height: initial;
    }

    #main,
    #main.home {
        margin-top: 30px;
        display: block;
        width: auto;
        padding: 0px;
    }

    .content-container {
        width: initial;
        padding-left: 0;
    }

    #content-text {
        margin-top: 30px;
    }

    #content-image {
        margin-bottom: 0;
    }

    .thumbsContainer {
        width: initial !important;
        margin: initial !important;
        float: initial !important;
    }

    .home #content{
        padding-left: 0;
    }

    #layout-container {
        padding-left: 0;
    }

    /*
    .list-child {
        margin-bottom: 15px;
    }
    */

    .sub-children-container {
        position: static;
        width: auto;
        display: block;
        margin-top: 30px;
        margin-left: 0;
        padding-bottom: 50px;
    }

    .sub-children-container img {
        padding: 0px;
        padding-bottom: 15px;
    }

    .videos iframe {
        /* based on #main width */
        width: calc(100vw - 60px);
        height: calc((100vw - 60px) * .5625);
    }

    #layout-container {
        padding-bottom: 50px;
    }
}
